.app-sidebar__user-avatar{
    width:  48px;
    background-color: gray;
    padding: 6px;
}
.no_listado{
    display: none;
}

.modalHeaderRegistro{
    background: #009688;
    color: #fff;
}

.modalHeaderActualizar{
    background: #0e77e7;
    color: #fff;
}
